.pax-nav {
  background-color: #000000 !important;
}
.footer {
  background: url('./assets/Footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.header {
  background: url('./assets/HEADER.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.fw-500 {
  font-weight: 400 !important;
}
ul {
  list-style-type: none !important;
}
.bg-quote {
  background-color: #01D564 !important;
}
.text-paxdav {
  color: #01D564 !important;
}
.bg-quote-input {
  background-color: #27291C !important;
  border: none !important;
  color: white !important
}
.port-caption {
  bottom: 5px !important;
  position: absolute !important;
  left: 10px;
  right: 10px;
}
.serv-card {
  background-color: #000000 !important;
}
.contact {
  border-radius: 20px !important;
  border-bottom: none !important;
  border-right: none !important;
  border-color: #404040 !important;
}