.pax-nav {
  background-color: #000000 !important;
}
.footer {
  background: url('./assets/Footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.fw-500 {
  font-weight: 400 !important;
}
ul {
  list-style-type: none !important;
}
.bg-quote {
  background-color: #01D564 !important;
}
.bg-quote-input {
  background-color: #27291C !important;
  border: none !important;
  color: white !important
}