body {
  margin: 0;
  font-family: 'Black Sans', sans-serif;                                                
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000 !important;
  color: #FFFFFF !important;
}

code {
  font-family: 'Black Sans', sans-serif; 
}
